.welcome{
    overflow: auto;
    height: 70vh;
}
.promptContainer{
    display: flex;
    justify-content:center;
}

.prompt{
    margin: 10px;
}

.promptTitle{ 
    font-size: 15px;

}

.promptContent{
    border: 1px solid lightgray;
    border-radius: 10px;
    height: 100px;
    width: 250px;
    padding: 20px;
    text-align: left;
    font-size: 15px;
    
}
.starterQuestion{
    cursor: pointer;
    color: gray;
}