@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
.welcome{
    overflow: auto;
    height: 70vh;
    background-color: #020917;
}
.bigTitle{
    font-size: 40px;
    font-family: 'Poppins';
    color:#ffff;
    
}
.promptContainer{
    display: flex;
    justify-content:center;
}

.prompt{
    margin: 10px;

}

.promptTitle{ 
    font-size: 15px;
    font-weight: bold;
    font-family: 'Poppins';
    color:#29eea4;
    

}

.promptContent{
    border: 2px solid #29eea4;
    border-radius: 10px;
    height: 100px;
    width: 250px;
    padding: 20px;
    text-align: left;
    font-size: 15px;
    margin: 20px;
    font-family: 'Poppins';
    background-color: #ffff;
    
}
.starterQuestion{
    cursor: pointer;
    color: gray;
}
.slogan{
    font-weight: bold;
    font-family: 'Poppins';
    color:#fff;
    
}