.chatbox{
    height: 80%;
    flex: 1;
    float: left;
    background-color: #fff;
    position: relative;
    overflow: auto;
    padding-top: 5%;
    
}
.chatWrapper{
    padding: 15px;
    
}
.chatLogUser{
    padding: 10px;
    display: flex;
    position: relative;
    margin: 5px;
    

}
.chatLogAi{
    padding: 10px;
    display: flex;
    position: relative;
    margin: 5px;

}
.chatMessageUser{
    padding: 12px;
    display: flex;
    padding-right: 20%;

}
.chatMessageAi{
    padding: 12px;
    display: flex;
   
    width: 70%;
    margin-right: 0;
   
    
}
.avatarUser{
    background-color: #eeeeee;
    background-image: url("/../Client/public/vite.svg");
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-top: 10px;

}

.avatar{
    background-color: #eeeeee;
    background-image: url("/../Client/public/vite.svg");
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-top: 10px;

}

.messageUser{
    padding: 10px;
    background-color: #3b3abe;
    color: white;
    margin-left: 5px;
    text-align: right;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    
    
}
.messageAi{
    padding: 8px;
    margin-left: 10px;
    text-align: left;
    background-color: #eeeeee;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    

}
.chatInputholder{
    padding: 10px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content:first space-evenly;
    bottom: 0; right: 0; left: 250px;

}
.AnimationContainer{
   width: 10%;

}
.InputContainer{
    background-color: white;
    width: 80%;
    height: 60px;
    border:#3b3abe solid 2px;
    display: flex;
    justify-content:space-around;
    overflow: hidden;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 8px 4px 0 rgba(190, 189, 189, 0.5);
}

.chatInputTextarea{
background-color: white;
width: 90%;
border: none;
outline: none;
height: 25px;
font-size: 15px;


}
.sendBtn{
    border: 1px solid #3a3abe94;
    background-color: #3a3abe94;
    border-radius: 15px;
    outline: none;
   
    color: #fff;
    font-weight: 600;
}

