@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
.chatbox{
    height: 76%;
    flex: 1;
    float: left;
    background-color: #020917;
    position: relative;
    overflow: auto;
    padding-top: 5%;
    font-family: 'Poppins';
}
.chatWrapper{
    padding-left: 20px;
    /* border: 1px solid black; */
    width: 85%;
    margin: auto;
    
}
.chatWrapper > div:first-child{
    border-top: 1px solid gray;
}
.chatLogUser{
    padding: 10px;
    display: flex;
    position: relative;
    margin: 5px;
   flex-direction: column;
    

}
.chatLogAi{
    padding: 10px;
    display: flex;
    position: relative;
    margin: 5px;
    flex-direction: column;

}
.chatMessageUser{
    padding: 12px;
    display: flex;
    padding-right: 20%;
    /*border: 1px solid black;*/
    order: 2;
    background-color: #020917;

}
.chatMessageAi{
    padding: 12px;
    display: flex;
  
    width: 70%;
    margin-right: 0;
    margin-left: 20%;
    
   
    
}
.UserAvatar{
   
    background-image: url("/src/images/User.png");
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-top: 10px;

}

.AiAvatar{
    background-image: url("/src/images/robot-assistant.png");
    border-radius: 5%;
    width: 45px;
    height: 45px;
    margin-top: 10px;

}

.messageUser{
    padding: 10px;
    background-color: #83dbec ;
    color: black;
    margin-left: 5px;
    text-align: left;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    
    
    
    
}
.messageAi{
    padding: 8px;
    margin-right: 10px;
    text-align: left;
    background-color: rgb(245, 244, 244);
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    min-width: 90%;
    

}
.chatInputholder{
    padding: 10px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content:first space-evenly;
    bottom: 0; right: 0; left: 250px;

}
.AnimationContainer{
   width: 10%;

}
.InputContainer{
    background-color: #ffff;
    width: 80%;
    height: 60px;
    
    display: flex;
    justify-content:space-around;
    overflow: hidden;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #83dbec;
    
}

.chatInputTextarea{
background-color: #ffff;
width: 90%;
border: none;
outline: none;
height: 25px;
font-size: 17px;
text-indent: 10px;


}

.sendBtn{
    
    border-radius: 10px;
    padding: 4px 8px;
    color: #020917;
    font-weight: 600;
    
}



